$embedded-form-background-color: #111;
$error-message-color: red;
$font: 'Skranji';
$font-bold-weight: 700;
$font-color: #bbb;
$font-normal-weight: 400;
$highlight-color: yellow;
$modal-background-color: rgba(255, 255, 255, 0.15);
$online-indicator-color: lightgreen;
$panel-background-color: #222;
$panel-overlay-background-color: #333;
$window-background-color: black;

@mixin flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin panel {
  background-color: $panel-background-color;
  border-radius: 4px;
}

@mixin embedded-form {
  background-color: $embedded-form-background-color;
  border: none;
  border-radius: 4px;
  color: inherit;
  font-family: inherit;
}

@mixin hover {
  background-color: $highlight-color;
  color: $panel-background-color;
}

@mixin modal {
  background-color: $modal-background-color;
  border-radius: 4px;
}

* {
  box-sizing: border-box;
  color: unset;
  cursor: default;
  margin: 0;
  overscroll-behavior: none;
}

body {
  background-color: $window-background-color;
}

.App {
  color: $font-color;
  font-family: $font;
  height: 100vh;

  .blur {
    filter: blur(8px);
  }

  > div {
    height: 100%;
  }

  .nav-button {
    @include panel;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 4vmin;
    margin: 0 4vmin;
    padding: 0.5vmin 3vmin;
    text-decoration: none;
    transition: 0.1s ease-in-out;

    &:hover {
      @include hover;
    }
  }

  .UserSearch {
    @include modal;
    @include flex-center;
    flex-direction: column;
    height: 50vmin;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60vmin;

    > span {
      font-size: 4vmin;
    }

    .user-list {
      display: flex;
      flex: auto;
      flex-direction: column;
      justify-content: flex-start;
      margin: 2vmin 0;
      overflow-y: scroll;

      .username {
        background-color: $panel-overlay-background-color;
        border-radius: 4px;
        cursor: pointer;
        font-size: 2vmin;
        margin: 0.5vmin 2vmin;
        text-align: center;
        transition: 0.1s ease-in-out;
        width: 30vmin;

        .online {
          color: $online-indicator-color;
          margin-right: 0.5vmin;
        }

        &:hover {
          @include hover;
        }
      }
    }

    .user-search {
      display: grid;
      grid-template-columns: 85% 15%;
      height: auto;
      padding: 0.5vmin;
      width: 100%;

      input {
        @include embedded-form;
        cursor: text;
        font-size: 1.85vmin;
        margin-right: 0.5vmin;
        padding-left: 1vmin;

        &:focus {
          outline: none;
        }
      }

      button {
        @include embedded-form;
        cursor: pointer;
        font-size: inherit;
        transition: 0.1s ease-in-out;

        &:hover {
          @include hover;
        }
      }
    }
  }
}

.Splash {
  @include flex-center;
  flex-direction: column;

  #splash-title {
    @include flex-center;
    font-size: 20vmin;
    font-weight: $font-bold-weight;
    height: 40vmin;

    > span {
      transition: 0.15s ease-in-out;

      &:hover {
        color: $highlight-color;
        transform: scale(1.1);
      }
    }
  }
}

.LoginUser, .RegisterUser {
  @include flex-center;
  flex-direction: column;

  .form-title {
    font-size: 7vmin;
    font-weight: $font-bold-weight;
  }

  form {
    display: grid;
    font-size: 2.2vmin;
    grid-template-columns: max-content 1fr;
    margin: 4vmin 0 8vmin;
    row-gap: 1.75vmin;

    label {
      align-items: center;
      display: flex;
      justify-content: flex-end;
    }

    input {
      @include panel;
      border: none;
      color: $highlight-color;
      cursor: text;
      font-family: inherit;
      font-size: inherit;
      margin-left: 2vmin;
      padding: 0.15vmin 1vmin;

      &:focus {
        outline: none;
      }
    }

    .form-instruction {
      font-size: 1.5vmin;
      list-style: none;
      margin-top: -1vmin;
      padding: 0 2.5vmin;

      .invalid {
        color: $error-message-color;
      }
    }

    .nav-button {
      font-size: 3vmin;
      grid-column: span 2;
      margin: 3vmin auto;

      &:disabled {
        color: $panel-overlay-background-color;
        cursor: default;
        transition: none;

        &:hover {
          background-color: $panel-background-color;
        }
      }
    }

    .error-message {
      color: $error-message-color;
      grid-column: span 2;
      text-align: center;
    }
  }
}

.UserPage {
  display: grid;
  grid-template-columns: 23% 77%;
  padding: 10px;

  .Chat {
    @include panel;
    display: flex;
    font-size: 1.85vmin;
    flex-direction: column;
    margin-right: 10px;

    > div {
      @include flex-center;
      margin-top: 0.5vmin;

      .nav-button {
        background-color: $panel-overlay-background-color;
        font-size: 3vmin;
        margin: auto;

        &:hover {
          background-color: $highlight-color;
        }
      }
    }

    .friends {
      background-color: $panel-overlay-background-color;
      border: 1px solid $window-background-color;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      height: 20vmin;
      justify-content: flex-start;
      margin: 1vmin auto;
      padding: 0.5vmin 0;
      width: 97.5%;

      .friends-list {
        border-top: 1px solid $window-background-color;
        flex: auto;
        margin: 0.5vmin auto;
        overflow-y: scroll;
        width: 100%;
      }  
    }

    .inactive {
      @include flex-center;
      color: $panel-overlay-background-color;
      flex: auto;
      flex-direction: column;
      font-size: 5vmin;
      font-weight: $font-bold-weight;
    }

    ul {
      display: flex;
      flex: auto;
      flex-direction: column;
      justify-content: flex-end;
      list-style: none;
      overflow-y: scroll;
      padding: unset;

      li {
        border-radius: 4px;
        margin: 0.4vmin 0.25vmin;
        padding: 0.25vmin;

        /*----- DEV -----*/
        background-color: skyblue; // change when chat implemented
      }
    }

    form {
      display: grid;
      grid-template-columns: 85% 15%;
      height: auto;
      padding: 0.25vmin;

      input {
        @include embedded-form;
        cursor: text;
        font-size: inherit;
        margin-right: 0.25vmin;

        &:focus {
          outline: none;
        }
      }

      button {
        @include embedded-form;
        cursor: pointer;
        font-size: inherit;
        transition: 0.1s ease-in-out;

        &:hover {
          @include hover;
        }
      }
    }
  }

  .UserPageNav {
    @include panel;
    align-items: center;
    display: flex;
    font-size: 2vmin;
    height: 6vmin;
    justify-content: space-between;
    padding: 0 2vmin;
    width: 100%;

    .username {
      color: $highlight-color;
      font-size: 2.25vmin;
      font-weight: $font-bold-weight;
      margin-right: 0.3vmin;
    }

    .nav-links {
      span {
        border-right: 1px solid $panel-overlay-background-color;
        cursor: pointer;
        padding: 0.5vmin 2vmin;
        transition: 0.1s ease-in-out;

        &:last-of-type {
          border-right: none;
          padding-right: 0;
        }

        &:hover {
          color: $highlight-color;
        }
      }
    }
  }
}
